* {
  box-sizing: border-box;
}
body{
    display: block;
    margin: 0px;
    max-width: 100%;
    overflow-x:  hidden;
    font-family: sans-serif;
    display: block;
      background-color: rgba(244, 244, 244);
}
header img{
    width: 100%;
}
header{
    background-color: white;
}
header #indexhead{
    width: 10%;
    margin: auto;
    display: block;
}
nav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.column {
  float: left;
  margin-bottom: 10px;
}

/* Left and right column */
.column.side {
  margin-top: 3%;
  width: 28%;
  border-radius: 2px;
}
.column.side img{
    width: 100%;
}
.custom-add a{
    color: crimson;
}
.custom-add td{
    width: 50%;
    position: relative;
    left: -10px;top: -10px;
}
/* Middle column */
.column.middle {
  width: 70%;
  margin: auto;
  justify-content: center;
  display: block;
  background-color: rgba(244, 244, 244, 0.2);
  
}
.column.middle h1{
    font-size: 32pt;
    margin-left: 1.25%;
    font-family: Fjalla One, serif;
    font-weight:900;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
}
p{
    text-indent: 0px;
}
footer{
    position: relative;
    margin-top: 5em;
    background:  linear-gradient(black,#222222,#222222,#222222,#222222,#222222,  black);
    color: #47c9af;
    padding: 10px;
    clear: both;
    font-size: 1em;
    min-width: 10em;
}
footer p{
    text-align: center;
}
footer a{
    color: white;;
    text-decoration: none;
    width: 5%;
    float: left;
    margin-left: 7%;margin-right: 6%;
    
}
footer a:hover{
    text-decoration: none;
    color: crimson;
}
footer img{
    width: 40%;
    float: left;
}
footer .footrow{
    width: 100%;
    clear: both;
}
.footcol{
    width: 30%;
    float: left;
}
footer .footcol a{
    width: fit-content;
    width: 100%
}
footer > div > a > h4{
    font-family: Raleway, sans-serif;
   margin-top: 15%;
   left: 2%;position: relative;
}
footer b{
    color: gold;
}