.column .middle{
    background-color: red;
}
article{
    top:30px;
    width: 100%;
    display: block;
    margin: auto;
    position: relative;
    left: 7.5%;
}
 .colart{
    margin: 10px 0 0 0;
    width: 19%;
    float: left;
    min-height: 350px;
    max-height: 600px;
    font-size: 1vw;
    margin-left: 1%;
    display: block;
    text-align: center;
    min-width: 150px;
}
.news-art {
    position: relative;
    top:0px;
    padding-left: 3%;
    padding-right: 3%;
    width: 360px;
    height: 100%;
    font-family: Raleway, sans-serif;
    margin: 0px;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.8),rgba(0,0,0,0.4),rgba(0,0,0,0.0));
    float: left;
    vertical-align: text-bottom;
}
.news-art:hover{
    color: darkturquoise;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2));
}
.colart{
    margin: 1.25%;
    width: 360px;;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    color: white;
    background-color: goldenrod;
}
.colart h3{
    font-size: 20pt;
}
.colart h5{
    font-weight: normal;
    font-family: Verdana;
    font-size: medium;
}